In [3]:
import pandas as pd
import numpy as np

In [4]:
user_skills =pd.read_csv('F:/Candidate_matching/data/userskills.csv')
user_skills.head()

,Unnamed: 0.1,Unnamed: 0_x,Respondent,Erlang,Ruby,Delphi/Object Pascal,Assembly,CSS,JavaScript,Python,...,Back-end developer,Student,"C-suite executive (CEO, CTO, etc.)",DevOps specialist,Front-end developer,Database administrator,Data scientist or machine learning specialist,Embedded applications or devices developer,Desktop or enterprise applications developer,Full-stack developer
0,0,0,1,NaN,NaN,NaN,NaN,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1,1,1,3,NaN,NaN,NaN,NaN,NaN,1.0,1.0,...,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN,1.0
2,2,2,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
3,3,3,5,NaN,NaN,NaN,NaN,1.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
4,4,4,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN

In [5]:
user_skills = user_skills.drop(columns=['Unnamed: 0.1','Unnamed: 0_x','Unnamed: 0_y','Unnamed: 0_y.1','ESP8266','Drupal','Windows Phone','Unnamed: 0'],axis=1)

In [6]:
user_skills = user_skills.rename(columns={'Respondent':'candidate'})
user_skills = user_skills.set_index('candidate')
user_skills

,Erlang,Ruby,Delphi/Object Pascal,Assembly,CSS,JavaScript,Python,Groovy,Perl,Kotlin,...,Back-end developer,Student,"C-suite executive (CEO, CTO, etc.)",DevOps specialist,Front-end developer,Database administrator,Data scientist or machine learning specialist,Embedded applications or devices developer,Desktop or enterprise applications developer,Full-stack developer
candidate,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,1.0,1.0,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
3,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN,1.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
5,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101513,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101531,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
101541,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101544,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101548,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
user_skills.describe()

,Erlang,Ruby,Delphi/Object Pascal,Assembly,CSS,JavaScript,Python,Groovy,Perl,Kotlin,...,Back-end developer,Student,"C-suite executive (CEO, CTO, etc.)",DevOps specialist,Front-end developer,Database administrator,Data scientist or machine learning specialist,Embedded applications or devices developer,Desktop or enterprise applications developer,Full-stack developer
count,886.0,7911.0,2025.0,5760.0,50979.0,54686.0,30359.0,3373.0,3280.0,3508.0,...,53300.0,15732.0,3491.0,9549.0,34822.0,13216.0,7088.0,4819.0,15807.0,44353.0
mean,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
std,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
min,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
25%,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
50%,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
75%,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
max,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [9]:
for col in user_skills.columns:
    print(col)

Erlang
Ruby
Delphi/Object Pascal
Assembly
CSS
JavaScript
Python
Groovy
Perl
Kotlin
Ocaml
Java
C
Matlab
Go
Bash/Shell
C++
VBA
Objective-C
F#
Lua
C#
Cobol
Visual Basic 6
Haskell
PHP
TypeScript
Scala
VB.NET
Hack
Clojure
HTML
CoffeeScript
R
Swift
SQL
Rust
Julia
Redis
MariaDB
Elasticsearch
SQL Server
Google Cloud Storage
PostgreSQL
Apache Hive
Neo4j
MongoDB
IBM Db2
Amazon DynamoDB
Amazon RDS/Aurora
Google BigQuery
MySQL
Cassandra
Oracle
Memcached
Amazon Redshift
Apache HBase
Microsoft Azure (Tables, CosmosDB, SQL, etc)
SQLite
Unnamed: 0_x.1
Salesforce
WordPress
Firebase
iOS
Android
Predix
Mainframe
Amazon Echo
Azure
IBM Cloud or Watson
Windows Desktop or Server
SharePoint
Apple Watch or Apple TV
Google Cloud Platform/App Engine
Gaming console
AWS
Mac OS
Raspberry Pi
Heroku
Google Home
Serverless
Arduino
Linux
.NET Core
Xamarin
TensorFlow
Hadoop
Django
Spring
Cordova
Node.js
React
Angular
Spark
Torch/PyTorch
Engineering manager
QA or test developer
Designer
Mobile developer
System administrator
Game or graphics developer
Product manager
Data or business analyst
Educator or academic researcher
Marketing or sales professional
Back-end developer
Student
C-suite executive (CEO, CTO, etc.)
DevOps specialist
Front-end developer
Database administrator
Data scientist or machine learning specialist
Embedded applications or devices developer
Desktop or enterprise applications developer
Full-stack developer